<!DOCTYPE html>
<html>
    <head>
        <h1 style="text-align: center;">The Car Risk Analysis With Speed</h1>
    </head>
    <body>
        <form name="form" method="POST">
            <div style="text-align: center;">
              speed: <input type="number" name="speed" placeholder="Enter speed in kilometer" required style="text-align: center;" />
              <button value="'Submit">Run</button>
            </div>
          </form>
        <p style="text-align: center; font-size: 24px; color: blue; font-weight: bold;">{{output}}</p>
    </body>
</html>